img.logo {
    height: 50px;
}

.cam-grid-container {
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.cam-grid-item {
    height: 100px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
    padding-top: 8%;
    color: white;
    background-color: grey;
    margin-top: 20px;
}

.cam-usr-btn {
    margin-top: 5px;
    margin-right: 10px;
}

form.signup-form {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

form.signup-form input {
    padding: 0px 5%;
    margin-bottom: 4px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: #42CAFD;
    font-family: arial;
    font-size: 16px;
    color: #40798C;
    line-height: 40px; 
}

form.signup-form button {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 40px;
    border: none;
    background-color: #40798C;
    font-family: arial;
    font-size: 16px;
    color: #42CAFD;
    cursor: pointer;
}

form.signup-form button:hover {
    background-color: #40798C;
}

.fixed-elem {
    position: fixed;
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cmt-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80px;
    width: 100%;
}

.cmt-elem {
    margin-left: 10px;
    margin-top: 2px;
    padding-left: 5px;
    background-color: rgba(211, 211, 211, 0.5);
}

.cmt-user {
    color: rgb(40, 122, 151);
}

.confirm-btn {
    user-select: none;
}

.video {
    display: none;
}

.display-none {
    display: none;
}

.reverse-img {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

.comment-box {
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
}

.feed-buttons {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.heart {
    background-color: red;
    height: 30px;
    transform: rotate(-45deg);
    width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
  }

.like-number {
    transform: rotate(45deg);
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.go-to-feed {
    cursor: pointer;
    width: 40%;
}

.sticker-item {
    height: 80px;
    width: 80px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ddd;
}

.landing-back {
    background-image: url("http://mediad.publicbroadcasting.net/p/shared/npr/201807/574977417.jpeg");
    background-size: contain;
}

.nav-mobile {
    margin-top: 80px;
}

.video {
    width: 320px;
    height: 240px;
}

.canvas-snap {
    width: 320px;
    height: 240px;
}

@media screen and (max-width: 540px) {
    .go-to-feed {
        width: 100%;
    }
    .landing-back {
        background-image: url("https://www.publicdomainpictures.net/pictures/170000/nahled/seamless-abstract-background-red-1462635799F9l.jpg");
    }
    .cam-grid-container {
    grid-template-columns: 1fr;
    }
    form.signup-form button {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 40px;
        border: none;
        background-color: #40798C;
        font-family: arial;
        font-size: 16px;
        color: #42CAFD;
        cursor: pointer;
    }
    .modal-content {
        width: 80%;
    }
    .preview {
        width: 240px;
        height: 180px;
    }
    .video {
        width: 240px;
        height: 180px;
    }
    .canvas-snap {
        width: 240px;
        height: 180px;
    }
}
  
.imagePreview1 {
    width:100%;
    height: 240px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    border-radius: 15px;
}
.imagePreview2 {
    width:100%;
    height: 120px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    border-radius: 15px;
}
.btn-primary
{
  display:block;
  border-radius:0px;
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}

.imgLabel1 {
    width: 100%;
}
.imgLabel2 {
    width: 120px;
}

.tag-box {
    height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-image: linear-gradient(to bottom, rgba(170,0,0,1), rgba(255,0,0,1) 50%, rgba(170,0,0,1));
	/* background-color: linear-gradient(); to bottom, rgba(255,0,0,0) 10%, rgba(255,0,0,1) 80%, rgba(255,0,0,0) 10% */
}

.u-tag {
    display: none;
}

.card_img_container {
    height: 200px;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.card {
    padding-left : 0px !important;
    padding-right : 0px !important;
    border-image : linear-gradient(to bottom, rgba(255,0,0,0) 33%, rgba(255,0,0,0.8)) !important;
    border-width: 1px !important;
    border-image-slice: 1 !important;
    border-radius: 5px !important;
}

.profile-img {
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.profile-img-extra {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.profile-block {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: red;
    color: white;
    padding-top: 50%;
    padding-bottom: 50%;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgba(170,0,0,1);
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    z-index: 1;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid rgba(170,0,0,1);
    border-radius: 10px;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgba(170,0,0,1);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }